<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:>
<head>
    <title>VueJS</title>
    <script src="vue.js"></script>
</head>
<body>

<div id="app">

    <p v-if="show">You Can See Me</p>
    <p v-else>Hidden</p>

    <template v-if="show">
        <h1>Head</h1>
        <p>Inside a template</p>
    </template>

    <p v-show="show">Also See Me</p>
    <button @click="show = !show">Switch</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            show: true
        },

    });

</script>



</body>
</html>